.blogPage {
  display: grid;
  grid-template-columns: 20vw auto;
}
.sidebar {
  position: fixed;
  width: 20vw;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  grid-column-start: 2;
}
