.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 0.5rem 0 0 0;
}

.maincontent {
  position: relative;
  width: 100%; /*250px;*/
  height: 100%; /*320px;*/
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-out;
}

.thecard:hover,
.thecrad:focus {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: radial-gradient(#66bb6a, #6d4c41);
  color: #333;
  text-align: center;
  font-family: "zilla slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: radial-gradient(#6d4c41, #8d6e63);
  color: #fff;
  transform: rotateY(180deg);
  text-align: center;
  font-family: "zilla slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

/*.blog-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  /*transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

/*.blog-cards:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}*/

.blog-wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /*100%1200px;*/

  /*padding-right: 200px; 
  padding-left: 200px;*/
  padding: 5em 15em 15em 15em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  text-align: center;
}

.blog-header {
  font-size: 3rem;
  font-weight: 300;
  background-image: radial-gradient(#6d4c41, #8d6e63);
  margin: 8.5rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*start hamburger*/

.blog-nav > .blog-nav_button > .blog-nav_icon {
  position: relative;
  margin-top: 3.5rem;
}
.blog-nav > .blog-nav_button > .blog-nav_icon,
.blog-nav_icon::before,
.blog-nav_icon::after {
  width: 3rem;
  height: 2px;
  background-color: blanchedalmond;
  display: inline-block;
}
.blog-nav > .blog-nav_button > .blog-nav_icon::before,
.blog-nav_icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.blog-nav > .blog-nav_button > .blog-nav_icon::before {
  top: -0.8rem;
}

.blog-nav > .blog-nav_button > .blog-nav_icon::after {
  top: 0.8rem;
}

.blog-nav > .blog-nav_button:hover > .blog-nav_icon::before {
  top: -1rem;
}
.blog-nav > .blog-nav_button:hover > .blog-nav_icon::after {
  top: 1rem;
}
.blog-checkbox:checked ~ .blog-nav_button > .blog-nav_icon {
  background-color: transparent;
}
.blog-checkbox:checked ~ .blog-nav_button > .blog-nav_icon::before {
  top: 0;
  transform: rotate(45deg);
}
.blog-checkbox:checked ~ .blog-nav_button > .blog-nav_icon::after {
  top: 0;
  transform: rotate(-45deg);
}

/*end hamburger*/

.blog-nav
  > .blog-nav_navbar
  > .blog-nav_list
  > .blog-nav_item
  > .blog-nav_link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s cubic-bezier(0.45, 0, 0.55, 1);
}
.blog-nav
  > .blog-nav_navbar
  > .blog-nav_list
  > .blog-nav_item
  > .blog-nav_link:hover,
.blog-nav_link:active {
  /*font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, red 0%, red 50%, white 50%);
  background-size: 100%;*/
  background-position: 100%;
  color: #333;
  transform: translateX(1rem);
}

.blog-nav > .blog-nav_navbar > .blog-nav_list > .blog-nav_item {
  margin: 1rem;
}
.blog-nav > .blog-nav_navbar > .blog-nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.blog-nav > .blog-nav_navbar {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.12, 0, 0.39, 0);
}
.blog-nav > .blog-checkbox {
  display: none;
}
.blog-nav > .blog-nav_button {
  background-image: radial-gradient(#66bb6a, #6d4c41);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
.blog-nav > .blog-nav_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#6d4c41, #66bb6a);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.12, 0, 0.39, 0);
}

.blog-checkbox:checked ~ .blog-nav_background {
  transform: scale(80);
}

.blog-checkbox:checked ~ .blog-nav_navbar {
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  /*body {
    background-color: lightblue;
  }*/
  .blog-wrapper {
    padding: 1em 0 0 0;
  }
}

/*.blog-nav {
  &blog-checkbox {
  }
  &blog-nav_button {
  }
  .blog-nav_background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: green;
  }
  &blog-nav_navbar {
  }
  &blog-nav_list {
  }
  &blog-nav_item {
  }
  &blog-nav_link {
  }
}*/
